.navbar-container {
    display: flex;
    background: linear-gradient(135deg, #4a90e2, #007aff);
    width: 100%;
    padding: 10px;
}

.navbar-container .navbar-items {
    display: none;
}

.navbar-container .navbar-items.show-modal {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.navbar-container .navbar-items .navbar-item {
    padding: 0;
    margin-top: 15px;
}

.navbar-container .navbar-menu-icon {
    cursor: pointer;
}

.navbar-container .navbar-item a {
    text-decoration: none;
    color: white;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card {
    width: 100%;
    margin: 10px;
    box-shadow: -2px 3px 19px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 3px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 19px 0px rgba(0, 0, 0, 0.75);
}

.card .card-body {
    padding: 15px;
}

.card .card-image {
    width: 100%;
}

.card .card-body .card-buttons .primary-button {
    background: linear-gradient(135deg, #4a90e2, #007aff);
    color: #ffffff;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card .card-body .card-buttons .primary-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #0353ae, #007aff);
}

@media (min-width: 1008px) {
    .cards {
        flex-direction: row;
    }
    .navbar-container .navbar-items {
        display: flex;
        align-items: center;
    }
    .navbar-container .navbar-items .navbar-item {
        padding: 0 15px;
        margin-top: 0;
    }
    .navbar-container .navbar-menu-icon {
        display: none;
    }
    .navbar-container .navbar-items.show-modal {
        flex-direction: row;
        margin-top: 0;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
  }

  .dropdown-button svg {
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(135deg, #4a90e2, #007aff);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  .dropdown-content a:hover {
    background-color: #79aeeb;
  }